@model TodoList.Models.Task

@{
    ViewBag.Title = "Create Task";
}

<div id="create-wrapper">
    <section class="create">
        <article>
            @using (Html.BeginForm("Create", "Task", FormMethod.Post))
    {
        <div class="row">
            <label for="task" value="@Model.Title">Task:</label>
            @Html.TextBoxFor(m => m.Title, new { @id = "task" })
            @Html.ValidationMessageFor(t => t.Title)
        </div>
        <div class="row">
            <label for="comments" value="@Model.Comments">Comments:</label>
            @Html.TextAreaFor(m => m.Comments, new { @id = "comments" })
            @Html.ValidationMessageFor(t => t.Comments)
        </div>
        <button type="submit">Create</button>
        <button onclick="location.href='/';return false;" class="cancel">Cancel</button>
        @Html.AntiForgeryToken()
}
        </article>
    </section>
</div>

